{{ 'custom-slider.css' | asset_url | stylesheet_tag }}


{% comment %} <div>
{% if sections.settings.slider1 != '' %}
  <h1 > {{ section.settings.slider1 }}</h1>
{% endif %}
</div> {% endcomment %}

<div class="bm-sleep_supoort">
  <div class="bm-container-md ">
    <div class="bm-row-main">
      <div class=" bm-rightsleep-support">
        <div class="swiperslider-sleep-support">
          <!-- Slider main wrapper -->
          <div class="swiper-container-wrapper">
            <!-- Slider main container -->
            <div class="swiper swiper_main">
              <div class="swiper-wrapper">
                {% if sections.settings.slider1 != '' %}
                <div class="swiper-slide">
                    <h1 > {{ section.settings.slider1 }}</h1>
                <img
                    src="${{ section.settings.url1 }}"
                    alt="">
                </div>
            {% endif %}
            {% if sections.settings.slider1 != '' %}
                <div class="swiper-slide"><img
                src="${{ section.settings.url2 }}">
            </div>
        {% endif %}
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>

            <div class="swiper swiper_thumbnail">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img
                    src="https://trtltravel.com/cdn/shop/products/TPOSLEEPING_69cf0c63-c67d-41db-9fe3-d1acfb07aec6_150x150_crop_center.jpg?v=1675342145"
                    alt=""></div>
                <div class="swiper-slide"><img
                    src="https://trtltravel.com/cdn/shop/products/TPO_GREY_LINDA_SLEEP_150x150_crop_center.jpg?v=1677083776"
                    alt=""></div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




{% schema %}
    {
      "name": "bm-review-slider",
       "class":"bm-review",
      "settings": [
        {
              "type":"text",
              "id":"slide1",
              "label":"custom slider1"
        }
  ],
        "presets":[
          {
            "name":"custom slider new"
          }
        ]  
    }
  {% endschema %}

  <script>
    (function () {
  try {
    /* main variables */
    var debug = 1;
    var variation_name = "test123";
    /* helper library */
    var _$;
    !(function (factory) {
      _$ = factory();
    })(function () {
      var bm = function (s) {
        if (typeof s === "string") {
          this.value = Array.prototype.slice.call(document.querySelectorAll(s));
        }
        if (typeof s === "object") {
          this.value = [s];
        }
      };
      bm.prototype = {
        eq: function (n) {
          this.value = [this.value[n]];
          return this;
        },
        each: function (fn) {
          [].forEach.call(this.value, fn);
          return this;
        },
        log: function () {
          var items = [];
          for (let index = 0; index < arguments.length; index++) {
            items.push(arguments[index]);
          }
          console && console.log(variation_name, items);
        },
        waitForElement: function (
          selector,
          trigger,
          delayInterval,
          delayTimeout
        ) {
          var interval = setInterval(function () {
            if (_$(selector).value.length) {
              clearInterval(interval);
              trigger();
            }
          }, delayInterval);
          setTimeout(function () {
            clearInterval(interval);
          }, delayTimeout);
        },
      };
      return function (selector) {
        return new bm(selector);
      };
    });
    function live(selector, event, callback, context) {
      /****Helper Functions****/
      // helper for enabling IE 8 event bindings
      function addEvent(el, type, handler) {
        if (el.attachEvent) el.attachEvent("on" + type, handler);
        else el.addEventListener(type, handler);
      }
      // live binding helper using matchesSelector
      function live(selector, event, callback, context) {
        addEvent(context || document, event, (e) => {
          let found,
            el = e.target || e.srcElement;
          while (
            el &&
            el.matches &&
            el !== context &&
            !(found = el.matches(selector))
          )
            el = el.parentElement;
          if (found) callback.call(el, e);
        });
      }
      live(selector, event, callback, context);
    }
    function waitForjQuery(trigger) {
      var interval = setInterval(function () {
        if (window.jQuery !== undefined) {
          clearInterval(interval);
          trigger(window.jQuery);
        }
      }, 50);
      setTimeout(function () {
        clearInterval(interval);
      }, 15000);
    }
    function onwaitforswiper(trigger) {
      var interval = setInterval(function () {
        if (typeof Swiper != "undefined") {
          clearInterval(interval);
          trigger();
        }
      }, 50);
      setTimeout(function () {
        clearInterval(interval);
      }, 15000);
    }
    //add swiper slider script
    function addScript() {
      var bmScript = document.createElement("script");
      bmScript.src = "https://unpkg.com/swiper@7/swiper-bundle.min.js";
      document.getElementsByTagName("head")[0].appendChild(bmScript);
      var bmcsslink = document.createElement("link");
       bmcsslink.rel = "stylesheet";
      bmcsslink.href =
        "https://unpkg.com/swiper@7/swiper-bundle.min.css";
       document.getElementsByTagName("head")[0].appendChild(bmcsslink);
    }
    addScript();
    var helper = _$();
    function swiperslider() {
      var swiper_thumbnail = new Swiper(".swiper_thumbnail", {
        slidesPerView: 6,
      });
      var swiper = new Swiper(".swiper_main", {
        loop: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper_thumbnail,
        },
      });
    }
    /* Variation Init */
    function init() {
      helper.log("Log inside from init");
      onwaitforswiper(swiperslider);
      // click event
    }
    live(".slep-supportbtn a", "click", function () {
      console.log("click");
      document.querySelector("body") &&
        document.querySelector("body").classList.add("show-ytplayer-popup");
    });
    //ytplayeroverlay
    live(".ytplayeroverlay, .ytplayer-cross-icon", "click", function () {
      console.log("click");
      document.querySelector("body") &&
        document.querySelector("body").classList.remove("show-ytplayer-popup");
    });
    /* Initialise variation */
    waitForjQuery(function () {
      helper.waitForElement('.swiper_thumbnail', init, 50, 15000);
    });
  } catch (e) {
    if (debug) console.log(e, "error in Test" + variation_name);
  }
})();

  </script>