<div class="services-block">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
              <div class="item d-flex align-items-center">
                <div class="icon"><i class="{{settings.footer_first_icon}}"></i></div>
                <div class="text">
                  <h6 class="no-margin text-uppercase">{{settings.footer_first_top_text}} &amp; return</h6><span>{{settings.footer_first_bottom_text}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
              <div class="item d-flex align-items-center">
                <div class="icon"><i class="{{settings.footer_second_icon}}"></i></div>
                <div class="text">
                  <h6 class="no-margin text-uppercase">{{settings.footer_second_top_text}} </h6><span>{{settings.footer_second_bottom_text}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center">
              <div class="item d-flex align-items-center">
                <div class="icon"><i class="{{settings.footer_third_icon}}"></i></div>
                <div class="text">
                  <h6 class="no-margin text-uppercase">{{settings.footer_third_top_text}} </h6><span>{{settings.footer_third_bottom_text}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>